
.idea/.idea.Demo.Mediator.Customers/.idea/

Demo.Mediator.Customers.Api/bin/Debug/net5.0/

Demo.Mediator.Customers.Api/obj/Debug/net5.0/

Demo.Mediator.Customers.Api/obj/

Demo.Mediator.Customers.Api/Properties/

Demo.Mediator.Customers.UnitTests/bin/Debug/net5.0-windows/

*.user

Demo.Mediator.Customers.UnitTests/obj/

Demo.Mediator.Customers.IntegrationTests/bin/Debug/net5.0/

Demo.Mediator.Customers.IntegrationTests/obj/Debug/net5.0/

Demo.Mediator.Customers.IntegrationTests/obj/
